In [19]:
import pandas as pd
from bokeh.plotting import figure
data = pd.read_excel("C:/Users/admin/Documents/Tableau Documentation/Data analytics with python/problems-2/PROBLEM 1.xlsx", 
                parse_dates=["START DATE"])
from bokeh.models import ColumnDataSource
from bokeh.models import FactorRange
from bokeh.palettes import Spectral7, Category20c
from bokeh.plotting import figure, show, output_file

In [20]:
data

,TRAINEE,TASK ID,SUBJECT,MODULE,TOPIC NAME,TOPIC ID,START DATE,END DATE,NO OF TASKS,SPEND HOURS
0,Naresh Chepuroju,NC2021102467,KAFKA,Consumer groups in kafka,Working with multiple consumer groups in kafka...,KF0009,24/10/2021,24/10/2021,1,1
1,Naresh Chepuroju,NC2021102668,KAFKA,Kafka with java and python,Creating producers and consumers in java and p...,KF0010,26/10/2021,26/10/2021,1,2
2,Naresh Chepuroju,NC2021102769,KAFKA,kafka with Node.js,Creating producers and consumers in Node.js,KF0011,27/10/2021,30/10/2021,1,2
3,Naresh Chepuroju,NC2021103170,MySql,Indroduction to MySql,"Creating Schemas,adding tables",MS0001,31/11/2021,31/11/2021,1,2
4,Giridhar Yerra,YG20211024,DATA ANALYTICS,Tableau,"Tableau Data Blending, Unions, Joins",DAT012,24/10/2021,24/10/2021,1,5
5,Giridhar Yerra,YG20211026,DATA ANALYTICS,Tableau,Tableau Exclude LOD,DAT013,26/10/2021,27/10/2021,1,2
6,Giridhar Yerra,YG2021102801,DATA ANALYTICS,Tableau,Practising Exercise(tableau methods),DAT014,28/10/2021,28/10/2021,1,6
7,Giridhar Yerra,YG2021102802,MySql,DLS,"create tables, columns, .........",MYSQL01,28/10/2021,28/10/2021,1,2
8,Giridhar Yerra,YG20211029,DATA ANALYTICS,Tableau,"small projects on calculated fields, joins",DAT015,29/10/2021,29/10/2021,1,4
9,Giridhar Yerra,YG2021103001,DATA ANALYTICS,Tableau,Documentation on Tableau,DAT016,30/10/2021,31/10/2021,1,4
10,Swapna Koyagura,SN2021102414,HTML&CSS,Responsive restaurent website,"Navbar Banner section, Why Choose Us Section,E...",HC00014,24/10/2021,27/10/2021,1,2
11,Swapna Koyagura,SN2021102801,MySql,create database,"create database,select statement,select clause...",MS0001,28/10/2021,28/10/2021,1,4
12,Swapna Koyagura,SN2021102902,MySql,operators,"AND,OR and NOR operators,the IN operator,betwe...",MS0002,29/10/2021,29/10/2021,1,5
13,Swapna Koyagura,SN2021103003,MySql,sql command categories,"SQL command categories,entity- relationship di...",MS0003,30/10/2021,31/10/2021,1,7
14,Mamatha Tekumatla,MT2021102462,ANGULAR,Http Client,"Http Client, fetching data using Http, Http er...",AG00006,24/10/2021,24/10/2021,1,3
15,Mamatha Tekumatla,MT2021102663,ANGULAR,Routing,"Routr parameters, paraMap observables, optiona...",AG00007,26/10/2021,26/10/2021,1,2
16,Mamatha Tekumatla,MT2021102764,ANGULAR,Routing,"Relative navigation, child routes, lazy loadin...",AG00008,27/10/2021,27/10/2021,1,3
17,Mamatha Tekumatla,MT2021102865,ANGULAR,Typescript,Basics of Typescript,AG00009,28/10/2021,28/10/2021,1,4
18,Mamatha Tekumatla,MT2021102966,ANGULAR,Typescript,"Understanding generics, classes and typescript...",AG00010,29/10/2021,29/10/2021,1,5
19,Mamatha Tekumatla,MT2021103067,ANGULAR,The Basics Angular,"Component, databinding, interpolation, propert...",AG00011,30/10/2021,30/10/2021,1,7
20,Mamatha Tekumatla,MT2021103168,ANGULAR,Course Project-The Basics,"Creating components, Adding navigation bar, cr...",AG00012,31/10/2021,31/10/2021,1,4
21,KORUKONDA HARISH,KH20211024,AWS LAMBDA,introduction to Aws,"severless computing, intro,getting started,lim...",AZL0001,24/10/2021,24/10/2021,1,1
22,KORUKONDA HARISH,KH20211026,AWS LAMBDA,writing lambda function,"Handling,context Object,Logging,exception.",AZL0002,26/10/2021,26/10/2021,1,2
23,KORUKONDA HARISH,KH20211027,AWS LAMBDA,packages and deploying,"Claudia,manually testing your function with th...",AZL0003,27/10/2021,27/10/2021,1,4
24,KORUKONDA HARISH,KH20211028,AWS LAMBDA,functions with mocha and chai,"testing functions with mocha and chai, using t...",AZL0004,28/10/2021,28/10/2021,1,2
25,KORUKONDA HARISH,KH20211029,AWS LAMBDA,severless test harness and lambda architecture,"test serverless test harness, lambda architect...",AZL0005,29/10/2021,29/10/2021,1,2
26,KORUKONDA HARISH,KH20211030,AWS LAMBDA,Mapping,"dynamoDB,s3,SNS",AZL0006,30/10/2021,30/10/2021,1,4
27,KORUKONDA HARISH,KH20211031,AWS LAMBDA,Creating Kinesis stream,"creating kinesis stream, cloud watchevents and...",AZL0007,31/10/2021,31/10/2021,1,5
28,Amulya Madupoju,AM20211026,HTML&CSS,Responsive Restaurant website,"explore menu section, why choose us section",HC0015,26/10/2021,29/10/2021,1,7
29,Amulya Madupoju,AM20211029,MySql,sql basics and Mysql,Sql Introduction,DB0001,29/10/2021,30/10/2021,1,3
30,Amulya Madupoju,AM20211030,MySql,Sql commands,"sql create tables,queries,keys",DB0002,31/10/2021,31/10/2021,1,2
31,valisetti suresh,VS20211024,KAFKA,"Installing Ubuntu in windows, running kafka in...","Installing Ubuntu in windows, running kafka in...",KF0004,24/10/2021,24/10/2021,1,3
32,valisetti suresh,VS20211026,KAFKA,"Starting zookeeper and kafka sever, creating t...","Starting zookeeper and kafka sever, creating t...",KF0005,26/10/2021,26/10/2021,1,4
33,valisetti suresh,VS20211027,KAFKA,"Understanding the kafka logs, creating multipl...","Understanding the kafka logs, creating multipl...",KF0006,27/10/2021,27/10/2021,1,5
34,valisetti suresh,VS20211028,KAFKA,"Topic with multiple partitions, kafka cluster ...","Topic with multiple partitions, kafka cluster ...",KF0007,28/10/2021,28/10/2021,1,5
35,valisetti suresh,VS20211029,KAFKA,Multiple Brokers and Topic with replication fa...,Multiple Brokers and Topic with replication fa...,KF0008,29/10/2021,29/10/2021,1,7
36,valisetti suresh,VS20211030,KAFKA,Working with multiple consumer groups in kafka...,Working with multiple consumer groups in kafka...,KF0009,30/10/2021,30/10/2021,1,3
37,valisetti suresh,VS20211031,KAFKA,Creating producers and consumers in java and p...,Creating producers and consumers in java and p...,KF0010,31/10/2021,31/10/2021,1,2
38,Vamshi Bhairoju,VS2021102307,HTML&CSS,Css Building Blocks,"Css Selectors & inheritance,Css specificity & ...",HC00007,23/10/2021,24/10/2021,1,3
39,Vamshi Bhairoju,VS2021102608,HTML&CSS,Responsive restaurent website,"Navbar Banner section, Why Choose Us Section,E...",HC00008,26/10/2021,29/10/2021,1,3
40,Vamshi Bhairoju,VS2021103001,MySql,sql basics and Mysql,Sql Introduction,DB00001,30/10/2021,2021-03-11 00:00:00,1,4
41,Vamshi Bhairoju,VS2021103102,MySql,Sql commands,"sql create tables,queries,keys",DB00002,31/10/2021,2021-02-11 00:00:00,1,5

In [21]:
exr = data[data["SUBJECT"] == ("KAFKA")]
hours = exr.groupby(["START DATE", "SUBJECT", "TRAINEE"])["SPEND HOURS"].sum()
hoursdata_df = pd.Series(hours).reset_index(name="HOURS")
hoursdata_df

   START DATE SUBJECT           TRAINEE  HOURS
0  24/10/2021   KAFKA  Naresh Chepuroju      1
1  24/10/2021   KAFKA  valisetti suresh      3
2  26/10/2021   KAFKA  Naresh Chepuroju      2
3  26/10/2021   KAFKA  valisetti suresh      4
4  27/10/2021   KAFKA  Naresh Chepuroju      2
5  27/10/2021   KAFKA  valisetti suresh      5
6  28/10/2021   KAFKA  valisetti suresh      5
7  29/10/2021   KAFKA  valisetti suresh      7
8  30/10/2021   KAFKA  valisetti suresh      3
9  31/10/2021   KAFKA  valisetti suresh      2

In [5]:
hours = hoursdata_df["HOURS"].tolist()
hours

[1, 3, 2, 4, 2, 5, 5, 7, 3, 2]

In [6]:
S = hoursdata_df[hoursdata_df["TRAINEE"] == ("valisetti suresh")]
suresh = S["TRAINEE"].tolist()
suresh

['valisetti suresh',
 'valisetti suresh',
 'valisetti suresh',
 'valisetti suresh',
 'valisetti suresh',
 'valisetti suresh',
 'valisetti suresh']

In [7]:
sureshsub= S["SUBJECT"].tolist()
sureshsub

['KAFKA', 'KAFKA', 'KAFKA', 'KAFKA', 'KAFKA', 'KAFKA', 'KAFKA']

In [8]:
dates = S["START DATE"].tolist()
dates

['24/10/2021',
 '26/10/2021',
 '27/10/2021',
 '28/10/2021',
 '29/10/2021',
 '30/10/2021',
 '31/10/2021']

In [9]:
sureshhours = S["HOURS"].tolist()
sureshhours

[3, 4, 5, 5, 7, 3, 2]

In [10]:
N = hoursdata_df[hoursdata_df["TRAINEE"] == ("Naresh Chepuroju")]
naresh = N["TRAINEE"].tolist()
naresh

['Naresh Chepuroju', 'Naresh Chepuroju', 'Naresh Chepuroju']

In [11]:
datesi = N["START DATE"].tolist()
datesi

['24/10/2021', '26/10/2021', '27/10/2021']

In [12]:
nareshhours = N["HOURS"].tolist()
nareshhours

[1, 2, 2]

In [13]:
subject = hoursdata_df["SUBJECT"].tolist()
subject

['KAFKA',
 'KAFKA',
 'KAFKA',
 'KAFKA',
 'KAFKA',
 'KAFKA',
 'KAFKA',
 'KAFKA',
 'KAFKA',
 'KAFKA']

In [24]:
source = ColumnDataSource(data=dict(dates = dates, sureshhours = sureshhours,datesi=datesi,nareshhours=nareshhours, 
                                sureshsub=sureshsub, suresh=suresh, color=Spectral7))

spendhours = figure(x_range=dates, width=700, height=350, toolbar_location=None,
            tools="hover")

spendhours.vbar(x="dates", top= "sureshhours", width=0.6, legend_field="dates",color="color", source=source)

spendhours.background_fill_alpha = 0

spendhours.line(x="datesi",y="nareshhours", color="violet",line_width=2,source=source)
 
show(spendhours)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('color', 7), ('dates', 7), ('datesi', 3), ('nareshhours', 3), ('suresh', 7), ('sureshhours', 7), ('sureshsub', 7)